<html>
  <head>
    <title>Govnopoly</title>
    
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    
    <!-- TODO: use jquery as module?? -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script type="module" src="./js/App.js"></script>-->
    
    <script type="module">
      import './js/App.js';
      
      // TODO: App.start();
      
      // Export for easy debugging in console
      import ViewModel from './js/ViewModel.js';
      window.ViewModel = ViewModel;
    </script>
    
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    <div id="app">
      <h1 id="connection-error" class="hidden">Connection error to server...</h1>
      <h1>Govnopoly</h1>
      
      <div id="players-pane">
        <label>Nickname: </label><input type="text" id="nickname"></input>        
        <ul id="players" v-bind:class="{ 'show-votes': !voting.isOpen }">
          <!-- TODO: remove key maybe??? -->
          <!-- TODO: combine props into a single object?? -->
          <player 
            v-for="(player, guid) in players"
            v-bind:key="guid"
            v-bind:player="player"
          ></player>
        </ul>
      </div>
      
      <div id="message-pane">
        <ul id="messages">
          <message 
            v-for="message in messages" 
            v-bind:nickname="message.nickname"
            v-bind:text="message.text"
          ></message>
        </ul>
        <input type="text" id="message" placeholder="Message"></input>
      </div>
      
      <div id="roll-pane">
        <button id="roll-btn">Roll</button>
      </div>
      
      <voting
        :voting-buttons="voting.buttons"
        v-bind:voting-open="voting.isOpen"
        v-bind:selected-vote="voting.selected"
      ></voting>
    </div>
  </body>
</html>